name: CI
on: pull_request

jobs:
    linter:
        name: 'lint checks'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: pnpm/action-setup@v4.2.0
              with:
                  run_install: false
            - uses: actions/setup-node@v6.2.0
              with:
                  node-version-file: 'package.json'
                  cache: 'pnpm'
            - name: 'Install dependencies'
              run: pnpm install --frozen-lockfile
            - name: 'Run type checking'
              run: pnpm type-check
            - name: 'Run linter'
              run: pnpm lint
            - name: 'Build userscripts'
              run: pnpm build
