name: CI
on: pull_request

jobs:
    linter:
        name: 'lint checks'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4.4.0
              with:
                node-version: 20
            - name: 'Install dependencies'
              run: npm install
            - name: 'Run linter'
              run: ESLINT_USE_FLAT_CONFIG=false npm run lint
    auto-merge:
        name: 'dependabot-auto-merge'
        needs: linter
        if: github.actor == 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: automerge
              uses: actions/github-script@v7.0.1
              with:
                  script: |
                      github.rest.pullRequests.createReview({
                        owner: context.payload.repository.owner.login,
                        repo: context.payload.repository.name,
                        pull_number: context.payload.pull_request.number,
                        event: 'APPROVE'
                      })
                      github.rest.pullRequests.merge({
                        owner: context.payload.repository.owner.login,
                        repo: context.payload.repository.name,
                        pull_number: context.payload.pull_request.number
                      })
                  github-token: ${{github.token}}
